/* Created by: Emre Guzel
* Created on: March 31 2025
* This file contains the CSS for index.html
*/

html {
  font-size: 15px;
}

body {
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: skyblue;
}

.container {
  margin-left: 10rem;
  display: flex;
}
.container-2{
  margin-left: 5rem;
}

.formula-tittle {
  font-size: 1.5rem;
  margin: 0;
}
.length{
  font-size: 2rem;
  font-weight: 900;
}

.formula {
  font-size: 1rem;
  margin: 0;
}

.dimatoins {
  color: black;
  font-weight: 900;
  font-style: bold;
  font-size: 2.2rem;

}
.number{
  font-size: 1.2rem;
}

.Calculate {
  width: 27%;
  text-align: center;
  margin-top: 6vw;
  margin-left: 60vw;
  margin-top: 10rem;
}

#perimeter {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
}

#area {
  color: black;
  font-weight: 500;
  font-style: italic;
  font-display: initial;
  margin-bottom: 1rem;
  margin-top: .5rem;
}


.celsius {
  font-size: 1.2rem;
}

.age {
  font-size: 1.3rem;
}
.tempurature{
  width: 27%;
  text-align: center;
  margin-left: 52vw;
  margin-top: -11%;
}